@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
.navbar-nav .nav-item {
  margin: 0px 18px;
  color: #4f876c;
}


.navbar {
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);

}

.navbar .navbar-brand img {
  margin-left: 38px;

  padding: 5px;
  border-radius: 10px;
}

/* .navbar .navbar-brand img {
  max-width: 80px;
} */

.navbar .navbar-nav .nav-link {
  color: rgb(0, 0, 0);
  /* padding: 10px 10px; */
  font-size: 17px;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid transparent;
  font-weight: 500;
}
.navbar .navbar-nav .nav-link:hover {
  border-bottom: 1px solid rgb(255, 255, 255);
  color: #4f876c;
 }
 
#diff{
  padding-right: 0%;
}
.navbar .navbar-nav .nav-link span{
  font-family: 'Roboto', sans-serif;
  padding-right: 60%;
  padding-left: 10px;
padding-top: 10px;
padding-bottom: 10px;
}





@media screen and (min-width: 1024px) {
  .navbar {
    letter-spacing: 0.1em;
  }

  .navbar .navbar-nav .nav-link {
    padding: 0.5em 1em;
  }

  .search-and-icons {
    width: 50%;
  }

  .search-and-icons form {
    flex: 1;
  }
}

@media screen and (min-width: 768px) {
  .navbar .navbar-brand img {
    max-width: 5em;
  }

  .navbar .navbar-collapse {
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-end;
  }

  .search-and-icons {
    display: flex;
    align-items: center;
  }
}


.search-and-icons form input::placeholder{
  color: rgb(0, 0, 0);
}

.search-and-icons form input {
  border-radius: 0;
  height: 2em;
  background: transparent ;

}

.search-and-icons form input:focus {
  background: #f8f8f8;
  box-shadow: none;
}

.search-and-icons .user-icons div {
  padding-right: 1em;
}

.contact-info p,
.contact-info a {
  font-size: 0.9em;
  padding-right: 1em;
  color: grey;
}

.contact-info a {
  padding-right: 0;
}

/* Dropdown Button */
.dropbtn {
  background-color: transparent;
  color: white;
  border: none;
}
.btn,
.btn:focus{
border: none;
outline: none;
}
/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {

  display: none;
  position: absolute;
  width: 400px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;

}

.mobile_down{
  margin: 0px 20px;
}

/* .Cont {
  background-color: beige;
} */


/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 5px 16px;
  text-decoration: none;
  display: block;
  font-family: Arial, Helvetica, sans-serif;
}

/* Change color of dropdown links on hover */

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  
  display: block;
}

.mini_ul li {
  font-size: 15px;
  color: black;
  margin: 10px 0;
  padding-left: 5px;
  font-family: 'Roboto', sans-serif;

}

.mini_ul li:hover {
  color: #4f876c;
}


#col2 {
  display: block;
}

.form-control {
  width: 200px;
}
.form-control {
  background-color: transparent;
  border: none;
  outline: none;
}


.search-and-icons {
  position: absolute;
  left: -50px;
  top: 0;
}

.user-icons {
  position: absolute;
  right: 0;
  top: 0;
  margin-top: 10px;
}

.user-icons i {
  font-size: 15px;
  cursor: pointer;
  color: white;
  background-color: #4f876c;
  padding: 10px 12px;
  border-radius: 50%;
  transition: .5s;

}
.user-icons i:hover {
background-color: transparent;
color: #4f876c;
transition: .5s;

}

.navbar-toggler {
  border: none;
  outline: none;
  color: white;

}
.navbar-toggler span{
  display: flex;
  flex-direction: column;
  width: 30px;
  margin: 10px 0;
}
/* .navbar-toggler-icon{
  color: white;

  border-radius: 5px;
  padding: 20px;
} */

.navbar-toggler:focus,
.navbar-toggler:active
 {
  outline: none;
  border: none;
  box-shadow: none;

}
#mobile_drop{
  display: none;
}
#pc_drop{
  display: block;
}

@media (max-width:770px) {
  #col2 {
    display: none;
  }

  .img {
    width: 100px;
  }

  .mobile .navbar-toggler {
    color: white;
    position: absolute;
    left: 10px;
    top: 10px;
  }

  .dropdown-content {
    background-color: beige;
    display: none;

    position: absolute;
    width: 330px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
  }
  #mobile_drop{
    display: block;
    margin-left: -13px;
    color: black;
  }
  #pc_drop{
    display: none;
  }
  
 
}

